.blue-dash-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #294f80;
}

.blue-dash-box-container{
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 80vw;
}

.blue-dash-box {
  border-radius: 15px;
  background: linear-gradient(315deg, #3465a3, #2c5589);
  box-shadow:  -5px -5px 14px #1e395d,
               5px 5px 14px #4483d3;
}

.blue-dash-box-1 {
  height: 25%;
  width: 100%;
  display: flex;
  padding: 0.3vw  0.6vw  0.3vw  0.6vw;
}

.blue-dash-box-1a {
  height: 100%;
  width: 24%;
  margin-right: 0.6vw;
}

.blue-dash-box-1b {
  height: 100%;
  width: 36%;
  margin-right: 0.6vw;
}

.blue-dash-box-1c {
  height: 100%;
  width: 40%;
}

.blue-dash-box-2 {
  height: 40%;
  width: 100%;
  display: flex;
  padding: 0.3vw  0.6vw  0.3vw  0.6vw;
}

.blue-dash-box-2a {
  height: 100%;
  width: 24%;
  margin-right: 0.6vw;
}

.blue-dash-box-2b {
  height: 100%;
  width: 36%;
  margin-right: 0.6vw;
}

.blue-dash-box-2c {
  height: 100%;
  width: 40%;
}

.blue-dash-box-3 {
  height: 35%;
  width: 100%;
  display: flex;
  padding: 0.3vw  0.6vw  0.3vw  0.6vw;
}

.blue-dash-box-3a {
  height: 100%;
  width: 35%;
  margin-right: 0.6vw;
}

.blue-dash-box-3b {
  height: 100%;
  width: 35%;
  margin-right: 0.6vw;
}

.blue-dash-box-3c {
  height: 100%;
  width: 15%;
  margin-right: 0.6vw;
}

.blue-dash-box-3d {
  height: 100%;
  width: 15%;
}
