.blue-dash-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}

.blue-dash-box-container{
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 80vw;
}

.blue-dash-box {
  border-radius: 24px;
background: linear-gradient(225deg, #e6e6e6, #ffffff);
box-shadow:  -5px 5px 4px #666666,
             5px -5px 4px #ffffff;
}

.blue-dash-box-1 {
  height: 25%;
  display: flex;
  padding: 0.3vw  0.6vw  0.3vw  0.6vw;
}

.blue-dash-box-1a {
  height: 100%;
  width: 24%;
  margin-right: 0.6vw;
}

.blue-dash-box-1b {
  height: 100%;
  width: 36%;
  margin-right: 0.6vw;
}

.blue-dash-box-1c {
  height: 100%;
  width: 38%;
}

.blue-dash-box-2 {
  height: 40%;
  display: flex;
  padding: 0.3vw  0.6vw  0.3vw  0.6vw;
}

.blue-dash-box-2a {
  height: 100%;
  width: 24%;
  margin-right: 0.6vw;
}

.blue-dash-box-2b {
  height: 100%;
  width: 36%;
  margin-right: 0.6vw;
}

.blue-dash-box-2c {
  height: 100%;
  width: 38%;
}

.blue-dash-box-3 {
  height: 35%;
  display: flex;
  padding: 0.3vw  0.6vw  0.3vw  0.6vw;
}

.blue-dash-box-3a {
  height: 100%;
  width: 49.5%;
  margin-right: 0.6vw;
}

.blue-dash-box-3b {
  height: 100%;
  width: 49.3%;
}

.blue-dash-box-3c {
  height: 100%;
  width: 26.6%;
  margin-right: 0.6vw;
}

.blue-dash-box-3d {
  height: 100%;
  width: 26.6%;
}
