.HoverArea {
  position: absolute;
  padding-top: -8vh;
  height: 5vh;
  width: 3vw;
  transition: width 2s;
  cursor: pointer;
}

.HoverArea .SelectionButtonsContainer {
  display: none; /* Oculte por padrão */
  position: absolute;
  z-index: 1;
}

.HoverArea:hover .SelectionButtonsContainer {
  display: block; 
}